<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('./partials/head.ejs')%>
</head>

<body>
  <!-- ============ MAIN ============ -->
  <main>
    <!-- Sort the array of ***** by using the key:name value -->
    <%*****.sort((a, b)=> (a.name > b.name) ? 1 : -1)%>
      <div class="h1Cont">
        <h1>*****</h1>
        <!-- NEW -->
        <a id="new" class="waves-effect waves-light btn-large" href="/*****/new">New *****</a>
        <br />
      </div>
      <div class="container1">
        <% for(let i=0; i < *****.length; i++) { %>
          <div>
            <a href="/*****/<%=i%>">
              <img src=<%=*****[i].img%> class="thumbnail"/></a>

            <!--- DELETE BUTTON --->
            <div class="form">
              <form action="/*****/<%=i%>?_method=DELETE" method="POST">
                <%= *****[i].name %>
                  </br>
                  <div container="buttons">
                    <input type="submit" value="Delete" class="waves-effect waves-light btn-small" />
                    <!---- EDIT ---->
                    <a id="editBut" href="/*****/<%=i%>/edit" class="waves-effect waves-light btn-small">edit</a>
                  </div>
              </form>
            </div>
          </div>
          <% } %>
      </div>
  </main>
</body>

</html>