<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs')%>
</head>

<body>
  <!-- ============ MAIN ============ -->
  <main>
    <div class="container">
      <h1>
        <%=*****.name%>
      </h1>
      <!-- BACK -->
      <a id="returnIndex" class="waves-effect waves-light btn-small" href="/*****">Back</a>
      <br />
      <img src=<%=*****.img%> alt="<%=*****.name%>" />
        <table>
          <tbody>
            <tr>
              <td class="showText">
                Types:
              </td>
            </tr>
            <tr>
              <td>
                <%=*****.type%>
              </td>
            </tr>
          </tbody>
        </table>

    </div>
  </main>
</body>

</html>